@use '../styles.scss' as *;

#app.hide {
    display: none;
}

#app {
    @extend %flex-column;
    width: 100vw;
    height: 100vh;
    // transition:
    //     opacity 0.5s ease,
    //     transform 0.5s ease;

    & > :first-child {
        // position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        z-index: 10;
    }
    #body {
        height: auto;
        flex-grow: 1;
        overflow-y: auto;
        scrollbar-width: thin;
        // touch-action: pan-x;
        // cursor: move;
    }
}

#widget.hide {
    display: none;
}

#widget {
    .exit-widget {
        -webkit-app-region: no-drag;
    }
}
