<div class="titleBar">
    <app-sidebar
        id="sidebar"
        [class.open]="isSidebarVisible"
        (mouseenter)="showSidebar()"
        (mouseleave)="hideSidebar()"
    ></app-sidebar>
    <div class="left-part">
        <mat-icon
            fontIcon="menu"
            class="menu"
            (mouseenter)="showSidebar()"
            (mouseleave)="hideSidebar()"
        ></mat-icon>
        <!-- <div class="app-icon">iocn</div> -->
        <!-- <div class="app-name">bdoPF</div> -->
    </div>

    <!-- <div class="search-field"></div> -->
    <div class="search" style="widows: 1">
        @if (currentUrl() === "/home") {
        <input type="text" [formControl]="searchControl" (focus)="showAuto()" />
        @if (this.search.searchResults().length > 0) {
        <mat-card appearance="outlined" #autoCompleteResult [class.hide]="isResultVisible()">
            @for (el of this.itemSearchResults(); track el.id) {
            <div class="searchResult" (click)="searchItemById(el)">
                <img [src]="this.search.imgPathJoin(this.search.imgPath['png'], el.icon)" alt="" />
                <div>{{ el.name }}</div>
            </div>
            }
        </mat-card>
        }
        <!-- <mat-icon fontIcon="search" (click)="search()"></mat-icon> -->
        }
    </div>

    <div class="right-part">
        <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="beach_access"
            (click)="enterWidgetMode()"
        ></mat-icon>
        <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="pin_drop"
            (click)="OnTop()"
            [class.top]="this.isOnTop()"
        ></mat-icon>
        <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="remove"
            (click)="windowMinimise()"
        ></mat-icon>
        @if (!isFullscreen()) {
        <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="fullscreen"
            (click)="windowFullscreen()"
        ></mat-icon>
        } @if (isFullscreen()){
        <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="fullscreen_exit"
            (click)="windowUnfullscreen()"
        ></mat-icon>
        }
        <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="close"
            (click)="windowClose()"
        ></mat-icon>
    </div>
</div>
