@use '../../../styles.scss';

:host {
    .sidebar {
        width: fit-content;
        height: 100vh;
        text-align: left;
        // background-color: var(--mat-sys-surface);
        background-color: var(--mat-sys-inverse-primary);
        border-right: 1px solid var(--mat-sys-outline-variant);

        .row:hover {
            background-color: var(--mat-sys-primary-container);
        }

        .row {
            @extend %flex-row;
            gap: 0.5em;
            padding: 0.5rem 1rem;

            &.active-item {
                background-color: var(--mat-sys-primary-container);
            }
        }
    }
}
