@if (search.breadCrumbs().data.length > 0) {
<nav class="bread-crumbs" aria-label="Breadcrumb">
    @for (el of search.breadCrumbs().data; track $index) {
    <div class="crumb-item" (click)="this.search.selectBreadCrumb($index)">
        <img
            class="icon"
            [src]="this.search.imgPathJoin(this.search.imgPath['png'], el.icon)"
            alt="{{ el.name }}"
        />
        <!-- Optional: Add text label if desired later -->
    </div>
    <mat-icon class="separator" fontIcon="chevron_right"></mat-icon>
    }
</nav>
}
