@use '@angular/material' as mat;

:host {
    .section {
        // width: 100vw;
        // height: 100vh;
        // display: flex;
        // flex-direction: column;
        align-items: center;
        padding: 2em 0;
        @include mat.form-field-density(-5);

        // mat-mdc-form-field search-field mat-mdc-form-field-type-mat-input mat-mdc-form-field-has-icon-suffix mat-form-field-appearance-outline mat-primary mat-form-field-animations-enabled mat-form-field-hide-placeholder

        // mat-mdc-text-field-wrapper mdc-text-field mdc-text-field--outlined
        // ::ng-deep .mat-mdc-form-field-flex {
        //     height: 20px;
        // }
    }
}
