// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
    @include mat.theme(
        (
            color: (
                primary: mat.$azure-palette,
                tertiary: mat.$blue-palette,
            ),
            typography: Roboto,
            density: 0,
        )
    );
}

body {
    // Default the application to a light color theme. This can be changed to
    // `dark` to enable the dark color theme, or to `light dark` to defer to the
    // user's system settings.
    color-scheme: light;

    // Set a default background, font and text colors for the application using
    // Angular Material's system-level CSS variables. Learn more about these
    // variables at https://material.angular.dev/guide/system-variables
    background-color: var(--mat-sys-surface);
    color: var(--mat-sys-on-surface);
    font: var(--mat-sys-body-medium);

    // Reset the user agent margin.
    margin: 0;
}
/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    // background-color: whitesmoke;
}
html,
body {
    margin: 0;
    padding: 0;
}

// Custome scss

%flex-row {
    display: flex;
    flex-direction: row;
}
%flex-column {
    display: flex;
    flex-direction: column;
}
%flex-row-2c {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
%flex-column-2c {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin modern_div(
    $border: (
        rgba(0, 0, 0, 0.1) 2px solid,
    ),
    $border-radius: 0.4em,
    $box-shadow: (
        3px 3px 3px 3px rgba(0, 0, 0, 0.2),
    ),
    $bgc: rgba(245, 245, 245, 0.1),
    $padding: 0.15em 0.15em 0.15em 0.15em
) {
    border: $border;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    background-color: $bgc;
    padding: $padding;
}

@mixin grid-columns(
    $gap: 0.3rem,
    $col: repeat(auto, 1fr),
    $justify-items: center,
    $align-items: center
) {
    display: grid;
    grid-template-columns: $col;
    gap: $gap;
    justify-content: $justify-items;
    align-content: $align-items;
}

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}
