@use '../../../styles.scss' as st;

:host {
    .container {
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        width: 23em;
        height: fit-content;
        padding-bottom: 1em;
        background-color: var(--bg-color);
        border: var(--border) 3px solid;
        box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.2);

        .title {
            display: flex;
            justify-content: flex-end;
        }

        .content {
            margin-top: .5rem;
            padding: 0 2rem;

            .input {
                @include st.flex-row();
                justify-content: center;
                gap: 1rem;

                input {
                    width: 6.5rem;
                    height: 2rem;
                    background-color: var(--mat-sys-surface-variant);
                    border: 1px solid transparent;
                    border-radius: .8rem;
                    padding: 0 1rem 0 1rem;
                    color: var(--mat-sys-on-surface);
                    font-size: 0.85rem;
                    transition: all 0.2s ease;
                    outline: none;

                    &::placeholder {
                        color: var(--mat-sys-outline);
                    }

                    &:focus {
                        background-color: var(--mat-sys-surface);
                        border-color: var(--mat-sys-primary);
                        box-shadow: 0 0 0 2px var(--mat-sys-primary-container);
                    }
                }
            }

            .items {
                @include st.flex-column();
                gap: 1em;
                // margin-top: 1em;
                padding: 1em 0;
                background-color: var(--bg-color);
                // border: red 1px solid;

                .row {
                    @include st.flex-row();
                    gap: 1rem;
                    padding: 0.7rem;
                    align-items: center;
                    background-color: var(--mat-sys-on-secondary);
                    border: var(--border) 1px solid;
                    border-radius: 0.5rem;

                    & > :first-child {
                        width: 3rem;
                    }

                    img {
                        width: 35px;
                        height: 35px;
                    }
                }
            }
        }
    }
}
