@use '../../../styles.scss' as *;

.titleBar {
    width: 100vw;
    height: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    -webkit-app-region: drag;
    border-bottom: red 1px solid;

    .left-part {
        @extend %flex-row-2c;
        justify-content: space-between;
        width: 8em;
    }

    & > .right-part {
        @extend %flex-row-2c;
        width: fit-content;

        mat-icon:hover {
            // border: rgba(0, 0, 0, 0.1) 2px solid;
            background-color: rgba(41, 39, 39, 0.1);
            // box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.2);
        }

        mat-icon {
            width: 20px;
            font-size: 18px;
            padding: 5px 10px 0 10px;
            border: rgba(255, 255, 255, 0) 2px solid;
            box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0);
        }
    }
}
